/* General Stuff START*/

* {
	box-sizing: border-box;
}

body {
	background-color: #b8d8d8;
	margin: 0px;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

button:active {
	outline: unset;
}

/*General stuff END*/

/* Nav Bar stuff START */

header {
	background-color: #7a9e9f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5%;
}

.home {
	display: flex;
	align-items: center;
	justify-content: space-between;

	text-decoration: none;
}

.home * {
	margin: 0 30px;
}

.norm-nav {
	margin-block-start: 0;
	margin-block-end: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 500px;
	padding-inline-start: 0;
}

.norm-nav li a,
.mobile-nav li a,
.home a {
	color: rgba(0, 0, 0, 0.8);
	transition: color 150ms ease-out;
	text-decoration: none;
	white-space: nowrap;
}

.home a {
	font-weight: bold;
}

.home a img {
	vertical-align: middle;
}

.norm-nav li a:hover,
.mobile-nav li a:hover,
.home a:hover {
	color: #0f94a0;
}

.mobile-nav {
	position: relative;
	width: 100%;
	height: 0;
	z-index: 1;
	left: 0;
	top: 0;
	overflow: hidden;
	background-color: rgba(117, 6, 6, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;

	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;

	transition: height 400ms ease-out 0ms;
}

.mobile-nav li {
	padding: 25px 20px;
	width: 100%;
}

.mobile-nav li:nth-of-type(odd) {
	background-color: #5b888a;
}

.mobile-nav li:nth-of-type(even) {
	background-color: #759ea0;
}

@media only screen and (max-width: 900px) {
	.norm-nav {
		display: none;
	}

	.btn-hide {
		display: initial !important;
	}
}

.logo {
	width: 60px;
	height: 60px;
}
/* Nav Bar stuff END */

/* Footer stuff START */
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #7a9e9f;
}
/* Footer stuff END */
.main {
	margin: 100px 50px;
	text-align: center;
}

.link {
	font-size: 1.5em;
	color: #1fbec4;

	transition: color 500ms ease;
}

.link:hover {
	color: #137c80;

	transition: color 150ms ease-in;
}

.link:active {
	color: #14686b;
}

.btn {
	padding: 9px 25px;
	background-color: #5b888a;
	border-radius: 10px;
	border: 1px solid #1f4142;
	background: linear-gradient(to bottom, #5b888a, #3a797a);
	transition: background 150ms ease-out;
}

.btn:hover {
	background: linear-gradient(to bottom, #568185, #568185);
}

.btn:active {
	background: linear-gradient(to bottom, #426a6e, #426a6e);
}

.btn-hide {
	display: none;
}

.form-box {
	text-align: start;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	background-color: #c9d99d;
	border: 3px solid #1f4142;
	border-radius: 5px;

	padding: 0 100px;
}

.form-box h1 {
	margin: 30px 0;
	text-decoration: underline;
}

.form-box label {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.form-box label h2 {
	margin: 0 5px;
}

.form-box label i {
	margin-top: 3px;
}

.form-box input {
	height: 35px;
	width: 100%;
	font-size: 20px;
	margin-top: 9px;
	border: 2px solid #000000;
	border-radius: 3px;

	background-color: #eeeeee;
}

.form-box .btn {
	margin: 20px 0;
	border-width: 3px;
	background: none;
	background-color: #11a5ca;
	font-size: 1em;
}

.form-box .form-row {
	display: flex;
	align-items: center;
	margin: 8px 0px;
	text-align: left;
}

.error-msg {
	color: red;
}

.hide {
	display: none;
}

.ui-checklist-main {
	min-height: 60vh;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.checklist-container {
	width: 70%;
	padding: 0px 30px;
}

.management-container {
	width: 30%;
	padding: 0px 30px;
}

.management-table {
	width: 100%;
}

.management-table .btn {
	margin: 5px 5px;
}

.management-table input {
	width: 203px;
}

.management-table thead th {
	text-align: center;
}

.checklist-table {
	width: 100%;
}

.title {
	background: none;
	font-size: 1.5em;
	border: none;
	border-bottom: 2px solid #000000;
}

.table {
	border-collapse: collapse;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
	min-width: auto;
}

.table thead {
	background-color: #2f9ea1;
}

.table thead tr {
	height: 50px;
	border-bottom: 2px solid rgb(0, 0, 0);
}

.table tbody tr {
	border-bottom: 1px solid rgb(0, 0, 0);
}

.table tbody tr:last-of-type {
	border-bottom: 3px solid #11a5ca;
}

.table tbody tr:nth-of-type(odd) {
	background-color: #9c9c9c;
}

.table tbody tr:nth-of-type(even) {
	background-color: #818181;
}

.table th {
	text-align: left;
	font-size: 1.5em;
}

.table td {
	text-align: left;
	font-size: 1.25em;
	padding: 5px 10px;
}

.table td input,
.table td textarea,
.table td select {
	display: block;
	height: 34px;
	font-size: 22px;
	border: 1px solid #000000;
	border-radius: 3px;
	background-color: #d1e8ee;
	margin: 0 !important;
}

.table td select {
	border-radius: 5px;
}

.table td textarea {
	min-height: 34px;
	max-height: 400px;
	min-width: 230px;
	max-width: 400px;
}

.table td input[type="checkbox"] {
	outline: 3px solid black;
	overflow: hidden;
	height: 40px;
	width: 40px;
}

.table p {
	margin-block-start: 0;
	margin-block-end: 0;
}

.new-task {
	margin: 20px 0;
}

.box {
	width: 100px;
	height: 100px;
	background-color: yellow;
}

.status-box {
	position: fixed;

	top: 0;
	right: 50px;

	padding: 10px 20px;

	width: auto;
	height: auto;

	opacity: 0;

	background-color: rgb(40, 128, 59);
	border-radius: 6px;

	transition: top 1000ms ease, opacity 1000ms ease;
}

.status-box-active {
	opacity: 1;
	top: 100px;
}

.status-line h1 {
	display: inline;
}

.status-box .error-msg {
	margin: 0;
}

.status-icon {
	margin-right: 5px;
	font-size: 33px;

	animation-name: spin;
	animation-duration: 1700ms;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.table input[readonly],
.table textarea[readonly] {
	background-color: #b4b4b4;
}

.is-invalid {
	border-color: red !important;
}

/* background: -webkit-linear-gradient(
		to right,
		#155799,
		#159957
	);
	background: linear-gradient(
		to right,
		#155799,
		#159957
	);  */
