body {
	background-color: #b8d8d8;
}

nav {
	background-color: #7a9e9f;
}

footer {
	background-color: #7a9e9f;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}

.dark-blue {
	background-color: #547d85;
}

.light-grey {
	background-color: #e2e2e2;
}

.login-box {
	width: 500px;
	background-color: #c9d99d;
}

.auth-box {
	margin-top: 120px;
	width: 500px;
	background-color: #4b89da;
}

.checkbox {
	margin-top: 6px;
	width: 25px;
	height: 25px;
}

.no-padding {
	padding: 0px;
}

.hide {
	display: none;
}

#managementBox {
	margin-top: 100px;
}

#statusBox {
	z-index: -1;

	position: fixed;

	top: 0px;
	right: 50px;

	width: auto;
	height: auto;

	opacity: 0;

	background-color: rgb(40, 128, 59);
	border-radius: 6px;
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.successLine {
	margin-top: 12px;
	margin-left: 20px;
	margin-right: 20px;
}

.failLine {
	margin-top: 15px;
	height: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

#errorMsg {
	margin-left: 20px;
	margin-right: 20px;
}

#successIcon {
	margin-top: 3px;
}

/* background: -webkit-linear-gradient(
		to right,
		#155799,
		#159957
	); 
	background: linear-gradient(
		to right,
		#155799,
		#159957
	);  */
